@import "tailwindcss";

@theme {
  --color-main-white: #e8f0fe;
  --color-link-hover : #c4c2d7;
  --color-pink-bg : #3f33b0;
  --color-sidebar-hover-bg : #2F2684;


}

body{
  margin: 0;
  font-family: "Poppins" ,  serif;
}


*{
  box-sizing: border-box;
}

